{% from 'icons.html' import paypal, paymethod_card, circle_check, warning_sign %}
{% from 'components/modal.html' import modalBG %}
{% from 'components/forms.html' import customInput %}
{% from 'components/general.html' import customButton %}
{% from 'account_components.html' import walletTab with context %}


{% macro modalFormContent(form) %}

    <form 
    id="modal-content"
    action="{{ url_for('inter.account.add_bank') }}"
    method="POST"
    hx-target-4*="{% for field in form %}#{{field.id}}-error{% if not loop.last %},{% endif %}{% endfor %},#messages"
    hx-target="#modal-content"
    hx-select="#modal-content"
    hx-push-url="false"
    class="flex flex-col gap-6 p-6"
    >
        <span class="text-xl font-bold"> {{ _("Add Bank Account") }} </span>

          {% for field in form %}
                {% set props =  {} %}
                
                {% if field.type != 'SubmitField' %}
                    
                    {% if field.id == 'account_number' %}
                        {% set _ = props.__setitem__('classes', 'numbered') %}
                    {% endif %}
                        
                    {{ customInput(field, props=props,)}}
                {% endif %}

            {% endfor %}
        
            {{ customInput(form.add, props={'classes':"form-submitter w-full rounded-lg", 'disabled':true, 'size':'lg'}) }}
            {{ customButton(_("Cancel"), variant="super-light", classes="w-full rounded-lg", size='lg', as_submit=false, 
            hx_props={'hx-get':url_for('close_modal'), 'hx-target':"#modal-bg" ,'hx-swap':"outerHTML" }) }}
    </form>
    
{% endmacro %}

{% macro modalSuccessContent() %}
    
    <div id="modal-content" class="flex flex-col gap-6 p-6">
        <h4 class="col-span-full text-xl font-extrabold">{{ _("Bank account Added") }}</h4>

        <div class="flex items-center justify-center">
            {{ circle_check(width="4em", height="4em", view=24) }}
        </div>
    </div>
{% endmacro %}

{% macro modalExceedContent() %}

    <div id="modal-content" class="flex flex-col gap-6 p-6">
        <h4 class="col-span-full text-xl font-extrabold">{{ _("Bank Account Warning") }}</h4>

        <div class="flex items-center justify-center">
            {{ warning_sign()}}
        </div>
        <p class="text-center">{{ _("You are only allowed one bank account.") }}</p>
    </div>
    
{% endmacro %}


{% if form %}
    {% set final_content = modalFormContent(form)  %}

{% elif success == true %}
    {% set final_content = modalSuccessContent()  %}

    <div hx-swap-oob="true" id="bank-methods" class="grid md:grid-cols-2 gap-4">
        {{ walletTab(_('Bank Account: ') + driver_bank.bank_name, driver_bank) }}
    </div>

{% elif exceed_warning == true %}
    {% set final_content = modalExceedContent() %}
{% else %}
    {% set final_content = modalContent()  %}
{% endif %}


{{modalBG(show=true, content=final_content)}}
